<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

{{ partial "head.html" . }}

<body>
<div class="main">
<header>

<div class="header-bar">

  <nav>
    <div class="siteTitle">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <div class="siteSubTitle"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Subtitle }}</a></div>
      </a>
    </div> <!--siteTitle-->

    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <div class="nav-item-title"><a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a></div>
    {{ end }}

<!--
    <div class="nav-item-title"><a class="nav-item" href="{{ .Site.RSSLink }}" target="_blank">RSS</a></div>
-->

  </nav>

</div>


</header>
